.lightgrey-background
  .row
    .column.small-6
      .hotel-image
        %img{src: 'http://ihg.scene7.com/is/image/ihg/uhf_ex_logo@2x?fmt=png-alpha'}
      %br
      %h3 Standard Room: $129
      %h4 Code: BOW
      %p
        Registration link:
        = link_to 'Holiday Inn Express', 'https://www.hiexpress.com/redirect?path=hd&brandCode=ex&localeCode=en&regionCode=1&hotelCode=STLLN&_PMID=99801505&GPC=BOW'
      %hr
      .div
        = link_to 'Holiday Inn Express Directions', 'https://www.google.com/maps/place/Holiday+Inn+Express+St.+Louis+Central+West+End/@38.6426839,-90.2630226,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b4d7f3a2a8bb:0xc03677a2d35cd81f!8m2!3d38.6426839!4d-90.2608339'
      .div
        3.1 Miles to Church
      .div
        1.8 Miles to Reception
      .div
        Walking distance to
        = link_to 'Bar Italia Ristorante', 'https://www.google.com/maps/place/Bar+Italia+Ristorante/@38.644993,-90.2642127,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x7dca20aebe663369!8m2!3d38.644993!4d-90.262024'
      %hr
      %p
        For reservations call
        %a{href: "tel:314-445-3002"}314-445-3002
        and refer to code BOW. Please note that the discounted room rate will only be available though September 21, 2016.


    .column.small-6
      .hotel-image
        %img{src: 'http://phgcdn.com/images/uploads/STLTC/logo/chase-park-plaza-logo.gif'}
      %br
      %h3 Standard Room: $189
      %h4 Code: 11521E
      %p
        Registration link:
        = link_to 'Chase Park Plaza', 'https://gc.synxis.com/rez.aspx?Hotel=27200&Chain=10237&template=fSTLTC&arrive=10/21/2016&depart=10/23/2016&adult=1&child=0&group=11521E'
      %hr
      .div
        = link_to 'Chase Park Plaza Directions', 'https://www.google.com/maps/place/The+Chase+Park+Plaza/@38.644205,-90.2661555,17z/data=!3m1!4b1!4m5!3m4!1s0x87d8b529ab43eb05:0x4621800c24b1f8f4!8m2!3d38.644205!4d-90.2639668'
      .div
        2.9 Miles to Church
      .div
        1.3 Miles to Reception
      .div
        Walking distance to
        = link_to 'Bar Italia Ristorante', 'https://www.google.com/maps/place/Bar+Italia+Ristorante/@38.644993,-90.2642127,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x7dca20aebe663369!8m2!3d38.644993!4d-90.262024'
      %hr
      %p
        For reservations call
        %a{href: "tel:314-633-3014"}314-633-3014
        and refer to the Besemer/Olsen Wedding Block or the group code which is 11521E.  Please note that the discounted room rate will only be available through September 21, 2016.

